.eventsMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 350px;
    padding-bottom: 50px;
    padding-top: 30px;
    margin-top: auto;
}



.dateMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 300px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.todaysDate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin-top: auto;
}

.events {
    padding: 7px;
}

.deaths {
    padding: 7px;
}

.births {
    padding: 7px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    /* font-family: 'Archivo Black', sans-serif; */
    font-family: 'Suez One', serif;
}

.todaysDate {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    align-items: center;
    font-size: 12px;
    padding-top: 700px;
}

h1 {
    color: black;
    padding: 4px;
}

#left {
    margin-right: 20px;
    cursor: pointer;
}

#right {
    margin-left: 20px;
    cursor: pointer;
}

#dateLeft {
    margin-right: 20px;
    cursor: pointer;
}

#dateRight {
    margin-left: 20px;
    cursor: pointer;
}

#toggle {
    cursor: pointer;
}

#dateToggle {
    cursor: pointer;
}

#dateDiv {
    margin-top: 1px;
    margin-bottom: 1px;
    color: black;
}

#dateDiv h2 {
    font-size: 30px;
    transition: all 500ms;
}

#dateDiv h2:hover {
    font-size: 40px;
    font-size-adjust: 10px;
}

#histryDiv {
    margin-top: 1px;
    margin-bottom: 1px;
}

#histryDiv .toggle {
    transition: all 300ms;
}

#histryDiv .toggle:hover {
    font-weight: bold;
    font-size: 35px;
    font-size-adjust: 10px;
}

h1 {
    font-weight: bold;
    color: black;
}

body {
    background: linear-gradient(-45deg, #ee765234, #e73c7e3a, #23a5d538, #23d5ab3b);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}